.page-header
  %h1
    修業の流れ
.row
  .span12
    %ul.flows
      %li.flow
        .flow_01
          .title
            %p 其の一 
            %h2 探す
          = image_tag 'flow01.png'
          .caption
            %p ご予約フォームに移りましたら、ご希望の仕事旅行日（第三候補まで）およびその他必要事項を入力し、「確認」ボタンを押してください。
            %p また「ホストにこれだけは聞きたい！」「体験してみたい！」という希望があればお申込み時にご記入下さい。入力内容に間違いがないことを確認の上、申込を完了させてください。申込受付後、24時間以内にお申込内容ご確認のメールを送付しますので、ご確認ください。
            %p 尚、24時間以内にメールが届かない場合は、お手数ですが仕事旅行社までご連絡をお願いします。申込時に希望頂いた仕事旅行候補日（第三候補まで）をもとに、仕事旅行社にて旅行先と日程の調整を行います。
      %li.flow
        .flow_02
          .title
            %p 其の二 
            %h2 応募する
          = image_tag 'flow02.png'
          .caption
            %p ご予約フォームに移りましたら、ご希望の仕事旅行日（第三候補まで）およびその他必要事項を入力し、「確認」ボタンを押してください。
            %p また「ホストにこれだけは聞きたい！」「体験してみたい！」という希望があればお申込み時にご記入下さい。入力内容に間違いがないことを確認の上、申込を完了させてください。申込受付後、24時間以内にお申込内容ご確認のメールを送付しますので、ご確認ください。
            %p 尚、24時間以内にメールが届かない場合は、お手数ですが仕事旅行社までご連絡をお願いします。申込時に希望頂いた仕事旅行候補日（第三候補まで）をもとに、仕事旅行社にて旅行先と日程の調整を行います。
      %li.flow
        .flow_03
          .title
            %p 其の三 
            %h2 審査
          = image_tag 'flow03.png'
          .caption
            %p ご予約フォームに移りましたら、ご希望の仕事旅行日（第三候補まで）およびその他必要事項を入力し、「確認」ボタンを押してください。
            %p また「ホストにこれだけは聞きたい！」「体験してみたい！」という希望があればお申込み時にご記入下さい。入力内容に間違いがないことを確認の上、申込を完了させてください。申込受付後、24時間以内にお申込内容ご確認のメールを送付しますので、ご確認ください。
            %p 尚、24時間以内にメールが届かない場合は、お手数ですが仕事旅行社までご連絡をお願いします。申込時に希望頂いた仕事旅行候補日（第三候補まで）をもとに、仕事旅行社にて旅行先と日程の調整を行います。
      %li.flow
        .flow_03
          .title
            %p 其の四 
            %h2 メールを
            %h2 受け取る
          = image_tag 'flow04.png'
          .caption
            %p ご予約フォームに移りましたら、ご希望の仕事旅行日（第三候補まで）およびその他必要事項を入力し、「確認」ボタンを押してください。
            %p また「ホストにこれだけは聞きたい！」「体験してみたい！」という希望があればお申込み時にご記入下さい。入力内容に間違いがないことを確認の上、申込を完了させてください。申込受付後、24時間以内にお申込内容ご確認のメールを送付しますので、ご確認ください。
            %p 尚、24時間以内にメールが届かない場合は、お手数ですが仕事旅行社までご連絡をお願いします。申込時に希望頂いた仕事旅行候補日（第三候補まで）をもとに、仕事旅行社にて旅行先と日程の調整を行います。
      %li.flow
        .flow_04
          .title
            %p 其の五 
            %h2 修業する
          = image_tag 'flow05.png'
          .caption
            %p ご予約フォームに移りましたら、ご希望の仕事旅行日（第三候補まで）およびその他必要事項を入力し、「確認」ボタンを押してください。
            %p また「ホストにこれだけは聞きたい！」「体験してみたい！」という希望があればお申込み時にご記入下さい。入力内容に間違いがないことを確認の上、申込を完了させてください。申込受付後、24時間以内にお申込内容ご確認のメールを送付しますので、ご確認ください。
            %p 尚、24時間以内にメールが届かない場合は、お手数ですが仕事旅行社までご連絡をお願いします。申込時に希望頂いた仕事旅行候補日（第三候補まで）をもとに、仕事旅行社にて旅行先と日程の調整を行います。