.page-header
  %h1
    修業の流れ
.row
  .span12
    %ul.flows
      %li.flow
        .flow_01
          .title
            %p 其の一 
            %h2 探す
          = image_tag 'flow01.png'
          .caption
            %p 起業に向けて、自身のスキルを補うことが可能な修業先を探します。
            %p 修業先の社風、修業内容、条件、勤務地等を確認します。起業に向けて、自身に必要なスキルを得ることができる修業先を探します。 
      %li.flow
        .flow_02
          .title
            %p 其の二 
            %h2 応募する
          = image_tag 'flow02.png'
          .caption
            %p 起業に向けて、自身に必要なスキルを得ることができる修業先が決まったら、応募します。
            %p 「確認したい事項」があれば応募フォームにご記入下さい。入力内容に間違いがないことを確認の上、応募を完了させてください。応募受付後、24時間以内に応募内容ご確認のメールを送付致します。ご確認お願いします。
            %p 尚、24時間以内にメールが届かない場合は、お手数ですがinfo@communiture.comまでメールをお願いします。応募時にご記入頂いた内容をもとに、株式会社Communitureにて修業先の企業様との調整を行います。
      %li.flow
        .flow_03
          .title
            %p 其の三 
            %h2 審査
          = image_tag 'flow03.png'
          .caption
            %p 頂いた内容を元に修業先の企業様と調整を行います。
            %p 修業開始日及びその他の調整が完了次第、メールにてご連絡致します。ご返信には、３営業日（土日祝は除く）ほど頂いています。
      %li.flow
        .flow_03
          .title
            %p 其の四 
            %h2 メールを
            %h2 受け取る
          = image_tag 'flow04.png'
          .caption
            %p 修業する費用を指定の期日（修業開始日の７日前）までにお支払いください。
            %p お振込みを確認次第、修業詳細をメールにてご案内致します。
      %li.flow
        .flow_04
          .title
            %p 其の五 
            %h2 修業する
          = image_tag 'flow05.png'
          .caption
            %p 修業先の企業様で修業をします。起業に向けて必要なスキルを体得して下さい。
            %p これから起業に向けて、様々な困難や喜びが待っていると思います。そして、起業したら想像もできないような難題やチャンスが起きます。これから修業を積んで、「ピンチ」を「チャンス」に変えることができるようなスキルを体得して頂ければ幸いです。
