.page-header
  %h1
    セールスプロモーション事業のプロジェクトリーダー・セールスコンサルタント、営業の修業ができる。 
.row
  .span12
    .company_profile.clearfix
      .photo= image_tag 'HJP_1.jpg' , width: '290' 
      .policy  
        %p わたくしどもが求めるのは、素直さと情熱を持った志高き人財です。2023年売上げ100億。グループ会社10社。幹部リーダー100名を達成させ、事業と雇用の創出を通して、若い力で日本を明るく元気にしていきます。０から1にする過程を経験出来ることはこれから起業家を志す方にとってかけがえのない経験になることは間違いないでしょう。また、新卒採用中心の弊社だからこそ人に教えて、育てるという人財教育とは何かということを実感されると思います。大きな夢を何が何でも成し遂げたいという強い志のある方お待ちしております。 
    %ul.messages
      %li.message.clearfix
        %h2 はじめまして
        .caption
          %p 夢があるから頑張れる、仲間がいるから顔晴れる。
          %p 私たち、HJPCorporationにとって社員とは、楽しい時には一緒に笑い、よりよい価値を生み出すために時にはぶつかり、大変な時には互いに励ましあい、悔しい時には一緒に泣く、ファミリーのような存在です。まるで青春ドラマの 1 ページのような若い会社です。
          %p 若い人が夢を持ち、夢を語り、そして実現していき、いち日本人としての誇りを持ち、世界に行ってもリーダーシップを発揮出来る人材を輩出していく国にしていくことがわたくしどもの使命です。 
        = image_tag 'HJP_2.jpg' , width: '300'
      %li.message.clearfix
        %h2 仕事について
        .caption
          %p 弊社の事業領域は情報通信・エネルギー分野を軸に若くて元気な人財が集まる人財の総合カンパニーを目指しております。 現在、第二創業期と位置付け太陽光発電・オール電化などの自然エネルギー分野に注力しております。
          %p 国のエネルギー問題や環境面の配慮の面からの社会貢献はもちろんのこと。実際に利用されるお客様の満足度の高さに当事業の意義を深く感じます。 エコ事業においては大切なお客様のお屋根やご自宅の設備に関わることなので、何よりも大切にしているのが、工事の技術やお客様に安心して頂けるようなアフターフォロー体制です。
          %p 弊社の強みである長年培ってきました商社様や工事会社様とのネットワークにより、お客様に安心して頂ける工事技術。同業者様との提携により、競争優位性を確保致しました。それにより、自然災害10年保証なども弊社負担でさせて頂くなど、アフターフォロー体制に万全な体制を構築させて頂いております。 ひと昔前の売って終わりの時代ではなく、お客様に安心と満足を味わって頂くためのホスピタリティを社員一同追求して参ります。
        = image_tag 'HJP_3.jpg' , width: '300'
      %li.message.clearfix
        %h2 起業しようと思った理由
        .caption
          %p 起業しようと思った最初のきっかけは、19歳の時に訪れました。単身で1年間オーストラリアに留学しました。そこで感じたのが、「自分と人とは考え方や価値観が違ってもＯＫなんだ」という確信でした。さまざまな国籍を持つ人々の自由な生き方を目の当たりにしたからです。それまでは普通に高校⇒大学⇒就職⇒マイホームローンのような決められた枠の中でのみの将来の選択ということに、居心地のわるさと窮屈さを感じていました。異文化の人達と交わることによって、「人と違う生き方をしてもいいんだ」という風に思えてきて、生きることがすごく楽になった気がしました。
          %p そして帰国後、真剣に起業を考えるようになりました。営業の世界に触れる機会があったからです。その中で数多くの経営者の方々とお話させて頂き機会を頂いていく中であることに気付きました。「どうして、この方々は愚痴など一切こぼさず、人としてなんて魅力的なんだろう」と思いました。経営者の方々の会話と自分の知っていた普通のサラリーマンの間で交わされる会話は明らかに違っていました。自分もそのような人間になってみたいと憧れるようになりました。
          %p 目標を見つけると、仕事が楽しくなってきました。そうして仕事が楽しくなると、きちんと結果も着いてくる。結局、大学生にして、トップセールスの座を獲得することができました。私は当初、営業が苦手でした。時給の良さだけに惹かれて就いた仕事でしたし、自分に営業は向かないと思い込んでいたのです。しかし、営業の仕事の楽しさを知り、トップセールスの座を獲得した結果、「良い意味で価値観を変えられるような場を私自身の手でつくりたい」と考え、起業しました。
        = image_tag 'HJP_4.jpg' , width: '300'
      %li.message.clearfix
        %h2 修業内容について
        .caption
          %p 弊社独自の戦略があるため最初は先輩社員に徹底的に同行とロールプレイングなどの修業をして頂きます。
          %p その後、セールスコンサルタント、成長と実力に応じてプロジェクトリーダーとして修業ができます。現在のメイン事業は大手通信キャリアのセールス拡大業務です。今後、業務拡大につきまして新規プロジェクト立ち上げも予定しております。やる気と実績次第では自らのアイディアを新規プロジェクトとして立ち上げて修業することも可能です。 
          %p 起業を決心して、大きな夢を何が何でも成し遂げたいという強い志のある方お待ちしております。
        = image_tag 'HJP_5.jpg' , width: '300'         

  %aside
    .title 
      %h2 セールスプロモーション事業のプロジェクトリーダー・セールスコンサルタント、営業の修業ができる。     
    %ul.items
      %li.price.clearfix
        .label.label-important 修行に応募する費用 :
        %p 20,000円
      %li.date.clearfix
        .label.label-important 最短修行期間 :
        %p 6ヶ月〜
      %li.company.clearfix
        .label.label-important 会社名 :
        %p 株式会社HJP Corporation
      %li.locate.clearfix
        .label.label-important 修行場所 :
        %p 東京・神奈川・千葉
      %li.hours.clearfix
        .label.label-important 勤務時間 :
        %p 9:00 〜 18:00
      %li.off.clearfix
        .label.label-important 休日・休暇 :
        %p 週休2日制
      %li.offer.clearfix
        .label.label-important 募集人数 :
        %p 2人〜
      %li.salary.clearfix
        .label.label-important 給与 :
        %p 応相談
      %li.requirements.clearfix 
        .label.label-important 応募条件 :
        %p 営業スキルを体得して起業すると考えている方
      .register
        = link_to '応募する', '', {:class => "btn btn-large btn-info"}
