.page-header
  %h1
    日本に一つでもゴキゲンな会社を創り出す仕事の修業をしませんか。
.row
  .span12
    .company_profile.clearfix
      .photo= image_tag 'icare_1.jpg' , width: '290' 
      .policy  
        %p Chasing Happiness
        %p 一人一人が活き活きと働き、暮らす事ができる世界の実現を追求する。それが我々のミッションであり、達成したい姿です。技術や能力では未だ世界をリードする力を十分持っている日本において、これから大切になるのは一人一人のメンタリティマネジメント。
        %p 我々は今までに無いサービスを今までに無い形で提供し、日本発世界へ新たなサービスを発信して行きます。 
    %ul.messages
      %li.message.clearfix
        %h2 はじめまして
        .caption 
          %p クラウド提供型メンタリティマネジメントで新たな日本を築く
          %p 我々は日本で働く全ての人々を元気にするサービスを企画しています。医師×MBA×看護師×リクルート×VC。多様性のあるメンバーの元、様々な知識・経験を得る場を提供します。大切なのは想いです。
        = image_tag 'icare_2.jpg' , width: '300'
      %li.message.clearfix
        %h2 仕事について
        .caption
          %p 産業構造の変化によって日本の企業が直面しているメンタルヘルス問題。グローバル化が進み、高度化・細分化された業務内容、個への業務量と質への要求は高くなっております。その中で過労死やうつ病発症が浮き彫りとなっています。メンタルヘルスへの取り組みを通して、企業がよりポジティブに働く環境を提供することが出来れば、企業の生産性は向上します。
          %p 我々は複雑に絡み合った企業のメンタルヘルス問題をシンプル＆クリアにします。その為に我々は「人事労務管理」と「産業医」の関係性に注目いたしました。両者はともに企業のメンタルヘルス問題に対峙する当事者であり、重要な役割を果たしています。そこに「労働者、上司」を合わせた３者が互いに理解し、関わり合い、介入する事で今以上に有効なメンタルヘルス対策が可能になります。
          %p 商品名「JoinUs（ジョイナス）」は参加型のメンタルヘルス対策を願い、名付けました。
          一人でも多くの方に活き活きと働く場を提供し、一社でも多くの企業が高い生産性と健康的な
          メンタル状態を保つ事を目指し、我々は邁進いたします 
        = image_tag 'icare_3.jpg' , width: '300'
      %li.message.clearfix
        %h2 起業しようと思った理由
        .caption
          %p あるコンサルティング会社のレポートによれば、日本のGDPは２０５０年には世界全体の２％の比率まで落ち込み、「極東の小国」に成り下がると言われています。経済大国日本は、今成長の踊り場を過ぎ、下り坂に向っているのです。高度経済成長期に機能したいくつもの制度や体制は今では足かせでしか無く、先行き不透明な状況に皆が閉塞感を感じています。
          %p そんな中、私は日本の経済成長の一助となるような仕掛け・仕組みを自分自身の手で作りあげ、少しでも日本という国に貢献したい。そんな思いで事業を検討してきました。そして、減り行く日本の労働力人口をカバーする為に、いくつものプランを練りました。そんな中で始めたのがこの事業です。
          %p 日本に１００万人いるというメンタル疾患者は、能力の高い方や責任感の強い方も多く、その人々の発病を少しでも予防し、復職を支援する事ができれば、必ず日本にとってプラスの効果を働く事ができる。そう気がつきました。偶然にもビジネススクールで出会った心療内科医の山田と意気投合し、一気にサービスを作り上げ、今現在はそのパイロットユーザを開拓している状況です。
          %p 世の中に、社会的に意義のある・価値のあるものを生み出す。そのために私は起業をしました。その手始めとなっているのが、この「Joinus」というサービスなのです。
        = image_tag 'icare_4.jpg' , width: '300'
      %li.message.clearfix
        %h2 修業内容について
        .caption
          %ul
            %li ニュースサイトの編集（取材・ライティング）
            %li 顧客開拓活動（主に企業経営者・人事責任者が対象）
            %li 産業医ネットワークの構築
            %li セミナー開催（企画〜集客・運営まで）
            %li 事業計画書の作成
            %li 資本政策の吟味
            %li 企画書の作成
            %li 社内インフラの整備　他        

  %aside
    .title 
      %h2 顧客開拓活動・資本政策の吟味など、事業経営の修業ができる。     
    %ul.items
      %li.date.clearfix
        .label.label-important 最短修業期間 :
        %p 1年〜
      %li.company.clearfix
        .label.label-important 会社名 :
        %p 株式会社 iCARE
      %li.locate.clearfix
        .label.label-important 修業場所 :
        %p 〒107-0062　東京都港区南青山2-2-15　ウィン青山1403
      %li.hours.clearfix
        .label.label-important 勤務時間 :
        %p 裁量労働制
      %li.off.clearfix
        .label.label-important 休日・休暇 :
        %p 土日祝日
      %li.offer.clearfix
        .label.label-important 募集人数 :
        %p 若干名
      %li.salary.clearfix
        .label.label-important 給与 :
        %p 無し
      %li.requirements.clearfix 
        .label.label-important 応募条件 :
        %p 大卒以上25歳未満の起業を志している方
      .register
        = link_to '応募する', '/contact', {:class => "btn btn-large btn-info"}
