!!!
%html
  %head
    %title Communiture
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if IE]
      = javascript_include_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35074902-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{:class => "#{view_slug}"}

    #fb-root
    :javascript
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));  
    %header.page-header#header
      .inner
        .title
          %h1= link_to 'Communiture', root_path
          %p 起業に挑戦する人に
        %nav
          .navbar
            .navbar-inner
              %ul.nav
                %li
                  = link_to '募集', '/offer'
                %li
                  %a{:href => "/flow"} 修行までの流れ
                %li
                  %a{:href => "/pricing"} 料金体系
                %li
                  %a{:href => "/help/about_communiture"} Communitureとは
    .container
      #wrapper
        = yield
    %footer.footer
      .container.row
        .support.span3
          %h3 サポート
          %ul
            %li= link_to '修業までの流れ', '/flow' 
            %li= link_to '募集のまでの流れ', '/help/how_to_offer' 
            %li= link_to '料金体系', '/pricing'
            %li= link_to '利用規約', '/help/rules'
            %li= link_to 'プライバシーポリシー', '/help/privacy' 
        .about_communiture.span3
          %h3 Communitureについて
          %ul
            %li= link_to '開発チーム', '' 
            %li= link_to 'Facebook', '' 
            %li= link_to 'Twitter', '' 
            %li= link_to 'ブログ', ''
        .fb-like-box{"data-colorscheme" => "dark", "data-height" => "300", "data-header" => "true", "data-href" => "https://www.facebook.com/communiture", "data-show-faces" => "true", "data-stream" => "false", "data-width" => "450"}


